.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0a0a0a;
  padding-top: 28px; /* Header height */
  flex-direction: row;
  white-space: nowrap;
}

.welcomeMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.welcomeMessage > h1 {
  font-size: 2rem;
  font-weight: 600;
}
