* {
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0e15;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* Simple white button styling */
button {
  background-color: #ececec; /* White background */
  color: #0a0e15; /* Dark text color */
  font-weight: 600;
  padding: 8px 12px; /* Padding */
  border: 0;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
  line-height: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: #ececec;
}

button:hover {
  background-color: #fff; /* Light gray background on hover */
  color: #000;
}

button:active {
  background-color: #8c8c8c;
}

button.secondary {
  color: #ececec;
  background-color: #0a0e15;
}

button.secondary:hover {
  background-color: #000; /* Light gray background on hover */
  color: #fff;
}

button.secondary:active {
  background-color: #727272;
}

input {
  height: 32px;
  padding: 4px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #ececec;
  outline: 0;
}

input:focus {
  border-color: #fff;
}
